<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的播放器</title>
    <script>
    window.onload = function(){ 
 var one = document.getElementById('one'); 			//判断鼠标是否按下 		
 var p = false; 			//鼠标按下处在页面中的水平偏移 		
 var dx = 0; 			//鼠标按下处在页面中的垂直偏移 		
 var dy = 0; 			//div在页面中的水平偏移 		
 var sx = 0; 			//div在页面中的垂直偏移 	
 var sy = 0; 			//鼠标按下时 		
one.onmousedown = function(event){ if (!p) { p = true;} 				//处理兼容性和滚动条 			
var event = event || window.event; 	
var scrollLeft = document.documentElement.scrollLeft; 	
var scrollTop = document.documentElement.scrollTop; 
var pageX = event.pageX || event.clientX + scrollLeft; 	
var pageY = event.pageY || event.clientY + scrollTop; 	
 dx = pageX;  dy = pageY; 	 sx = one.offsetLeft;sy = one.offsetTop;} //鼠标移动时 		
 	document.onmousemove = function(event){if (p) {
var event = event || window.event; 
var scrollLeft = document.documentElement.scrollLeft;
var scrollTop = document.documentElement.scrollTop; 
var pageX = event.pageX || event.clientX + scrollLeft;
var pageY = event.pageY || event.clientY + scrollTop;
one.style.left = pageX - (dx - sx) + 'px';
one.style.top = pageY - (dy - sy) + 'px';} } //鼠标松开时 		
	document.onmouseup = function(){if (p) {p = false;}}} 	</script>

</head>
<body>
    
 <div id="one">
    <div class="header">
    
         <span class="music">hy的播放器</span>
         <div class="searchbox">
        <input  class="sousuo" type="text" placeholder="歌手，歌曲" v-model="query" @keyup.enter="searchlist">
        <span style="cursor: pointer;" class="query"  @click="searchlist">🔍</span>
        </div>
        <input class="close"  type="button" value="关闭" onclick="javascript:window.close()">
     
     
    </div>
    <div  class="middle">
    <div class="querylist">
<ul>
    <li v-for="song in querylist" @click="playlist(song.id)">
      <a href="javascript" ></a>
        <b>{{song.name}}</b>
        
    </li>
</ul>
    </div>
<div data-v-175d0d9d class="right">
    <div data-v-175d0d9d class="middletwo" v-bind:class="{playing:isPlaying}">
        <img data-v-175d0d9d class="mving autoRotate" src="1.png">
         <img data-v-175d0d9d class="img autoRotate" v-bind:src="imgUrl">
    </div>
    <div class="comments">
<div class="hotComments">
<b><h1>热门评论：</h1></b>
</div>
<dl v-for=" comment in Comments">
    <dt><img class="imgtwo" v-bind:src="comment.user.avatarUrl"></dt>
    <dd class="name">{{comment.user.nickname}}</dd>
<dd class="content">{{comment.content}}</dd>
</dl>
    </div><!-- 评论 -->
</div><!-- right -->
</div><!-- 中间 -->
<div class="footer">
    <audio ref='audio' @play="play" @pause="pause" controls="controls" loop="loop"  v-bind:src="MusicUrl"   ></audio>
        </div><!-- footer -->
</div><!-- box -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="mainjs1.js"></script>
    <link href="index.css" rel="stylesheet" type="text/css"/>

</body>
</html>